.border-top{border-bottom: 1px solid black;}
.border-left{border-right: 1px solid black;}

.file-item {
border-right: 1px solid black;
border-bottom: 1px solid black;
	float: left;
	overflow: hidden;
display:inline;
}

.file-toolbar {
display: block;
margin:5px;
}

.file-content {
margin:5px 5px 5px 5;
height:150px;
width:150px;
}

.file-content img {
margin:15px;
height:120px;
width:120px;
}

.files-tab .delete-toolbutton {display: none}
#current-files .add-toolbutton {display: none}
.text-right {text-align:right;}