ul.litetabs {
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
/*
	float: left;
*/
}

ul.litetabs li {
				list-style:none;
	display:inline;
			}

.litetabs a {
				padding:5px 10px;
				display:inline-block;
				background:#666;
				color:#fff;
				text-decoration:none;
			}

.litetabs a.active {
				background:#fff;
				color:#000;
			}