.modal-galery {
width: 80%;
min-width: 56px;
min-height: 176px;
margin-left: auto;
margin-right: auto;
}

.modal-galery .modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-galery .modal-body {
width: 100%;
text-align: center;
  display: block;
  overflow: hidden;
}

.img-galery {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
  overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
  border-radius: 6px;
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
     -moz-transition: opacity 0.6s linear;
      -ms-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

.img-galery-active {
  z-index: 1052;
}

.img-galery-trans {
  opacity: 1;
}

.modal-thumbnails {
  padding: 15px;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

.cursor-progress { cursor: progress; }

.modal-galery-loading {
width: 128px;
height: 128px;
background:url(/js/litepublisher/images/loader-128x/Preloader_1.gif) no-repeat 0 0;
}